
.footer {
    padding: var(--spacing);
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;
        display: inline-flex;
        align-items: center;

        img {
            margin-right: .5rem;
        }
    }
}