.header {
    display: flex;
    align-items: center;
    padding: var(--box-padding);

    h1 {
        font-size: 30px;
        margin: 0;
        margin-right: auto;

        @media (min-width: 992px) {
            font-size: 40px;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;

        svg {
            width: 32px;
            height: 40px;
            margin-right: 0.5rem;
            color: var(--color-primary);
        }
    }
}