#nft-details {
    img {
        display: block;
        width: 100%;
        min-height: 300px;
        background: url(../img/tail-spin.svg) center center no-repeat;
    }

    label {
        opacity: .6;
    }

    .name {
        font-size: 1.2rem;
        font-weight: 600;
    }
}